@{
    ViewBag.Title = "Consultant";
}

<div class="panel panel-info">
    <div class="panel-heading">

        <a id="refresh" title="Refresh page" style="padding-top:8px;" class="pull-right" href="#">
            <span id="spin" class="glyphicon glyphicon-refresh"></span>
        </a>

        @Html.ActionLink("Dashboard", "Index", "Home") |
        <input type="text" class="search-box" id="name" placeholder="Search.." />
        <button id="search" type="button" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
    <div class="panel-body">
        <div id="table"></div>
        <div id="dialog-edit" style="display: none"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $(document).ready(function () {
            //Dialog form
            $("#dialog-edit").dialog({
                title: 'Add',
                autoOpen: false,
                resizable: false,
                width: 600,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").show();
                    $(this).load(url);
                },
                buttons: {
                    "Cancel": function () {
                        $(this).dialog("close");
                    },
                }
            });

            $('#table').jtable({
                title: 'Consultant',
                paging: true,
                pagesize: 3,
                sorting: true,
                defaultSorting: 'Name ASC',
                actions: {
                    listAction: '@Url.Action("List")',
                    updateAction: '@Url.Action("Update")',
                    createAction: '@Url.Action("Create")'
                },
                fields: {
                    Id: {
                        title: 'Id',
                        width: '1%',
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Name: {
                        title: 'Name',
                        width: '2%'
                    },
                    Address: {
                        title: 'Address',
                        width: '2%',
                        type: 'textarea'
                    },
                    MailId: {
                        title: 'MailId',
                        width: '2%'
                    },
                    MobileNo: {
                        title: 'MobileNo',
                        width: '2%'
                    },
                    PAN:{
                        title:'PAN',
                        width:'2%'
                    },
                    BankName: {
                        title: 'Bank Name',
                        width: '2%'
                    },
                    BankAccountNumber: {
                        title: 'AccountNo',
                        width: '2%'
                    },
                    AccountType: {
                        title: 'A/cType',
                        width: '2%',
                        options: { "NA": "--Select--", "SA": "Saving", "CA": "Current", "OD": "OD" }
                    },
                    IFSCCode: {
                        title: 'IFSC',
                        width: '2%'
                    },

                    Clients: {
                        title: '',
                        width: '0.1%',
                        sorting: false,
                        create: false,
                        edit: false,
                        listClass: 'child-opener-image-column',
                        display: function (client) {
                            var $img = $('<img title="Clients" class="child-opener-image" src="Content/Images/user.png" width="20px" />');
                            $img.click(function () {
                                $('#table').jtable('openChildTable', $img.closest('tr'),
                                {
                                    title: client.record.Name + " - Clients",
                                    actions: {
                                        listAction: '@Url.Action("GetClients")?id=' + client.record.Id,
                                        deleteAction: '@Url.Action("DeleteClients")?consltid=' + client.record.Id,
                                    },
                                    fields: {
                                        Id: {
                                            title: 'Id',
                                            width: '1%',
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        Name: {
                                            title: 'Name',
                                            width: '9%'
                                        }
                                    },
                                    toolbar: {
                                        items: [{
                                            icon: '/Content/Images/Add.png',
                                            text: 'Assign Clients',
                                            click: function () {
                                                url = $('@Html.ActionLink("Assigned Clients", "ClientList")').attr('href');
                                                url = url + "?id=" + client.record.Id,
                                                $("#dialog-edit").dialog("option", "title", "Assign Clients");
                                                $("#dialog-edit").dialog('open');
                                                return false;
                                            }
                                        }]
                                    }
                                }, function (data) {
                                    data.childTable.jtable('load');
                                });
                            });
                            return $img;
                        }
                    },
                },
                formCreated: function (event, data) {
                    data.form.find('input[name="Name"]').addClass('validate[required]');
                    data.form.find('input[name="MailId"]').addClass('validate[required],custom[email]');
                    data.form.find('input[name="MobileNo"]').addClass('validate[required],custom[mobile]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });
            $('#table').jtable('load');

            $("#refresh").click(function (e) {
                $('#name').val('');
                $("#spin").addClass("spin");
                e.preventDefault();
                $('#table').jtable('load');
                $("#spin").removeClass("spin");
            });

            $("#search").click(function (e) {
                e.preventDefault();
                $('#table').jtable('load', {
                    name: $('#name').val()
                });
            });

            $('#name').bind('keyup', function (e) {
                if (e.which == 13) {
                    $('#table').jtable('load', {
                        name: $('#name').val()
                    });
                }
            });
        });
    });
</script>
