@{
    ViewBag.Title = "Task Types";
}

<div class="panel panel-info">
    <div class="panel-heading">
        @Html.ActionLink("Dashboard", "Index", "Home") |
        <input type="text" class="search-box" id="name" placeholder="Search.." />
        <button id="search" type="button" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
    <div class="panel-body">
        <div id="table"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#table').jtable({
            title: 'Task Types',
            paging: true,
            pagesize: 3,
            actions: {
                listAction: '@Url.Action("List")',
                updateAction: '@Url.Action("Update")',
                createAction: '@Url.Action("Create")',
                deleteAction:'@Url.Action("Delete")'
            },
            fields: {
                Id: {
                    title: 'Id',
                    width:'1%',
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Name: {
                    title: 'Name',
                    width: '2%'
                },
                Particulars: {
                    title: 'Invoice Particulars',
                    width: '10%',
                    type:'textarea'
                },

                //End of Contact Child Table
            },
            formCreated: function (event, data) {
                data.form.find('input[name="Name"]').addClass('validate[required]');
                data.form.validationEngine();
            },
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }
        });
        $('#table').jtable('load');

        $('#name').bind('keyup', function (e) {
            if (e.which == 13) {
                $('#table').jtable('load', {
                    name: $('#name').val()
                });
            }
        });
        $("#search").click(function (e) {
            e.preventDefault();
            $('#table').jtable('load', {
                name: $('#name').val()
            });
        });
    });
</script>
